# Ignore node_modules
node_modules

# Ignore build directory (should not be in the image unless explicitly copied)
build

# Ignore local environment files
.env
.env.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore
