# Ignore all JSON data
back/data/*.json

# Ignore node_modules
node_modules

# Ignore local environment files
.env
.env.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore
